server:
  port: 8888

app:
  api-prefix: /api
  jwt-secret: 2f3d7c9a0b1e4f6a8c2d5e7f9b1c3d5e7f9a2b4c6d8e0f1a3b5c7d9e1f3a5b7

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: account_service
              uri: http://localhost:8081
              predicates:
                - Path=${app.api-prefix}/**
            - id: payment_service
              uri: http://localhost:8082
              predicates:
                - Path=${app.api-prefix}/payments/**
            - id: lesson_service
              uri: http://localhost:8083
              predicates:
                - Path=${app.api-prefix}/lessons/**
            - id: document_service
              uri: http://localhost:8084
              predicates:
                - Path=${app.api-prefix}/documents/**
